{% extends 'base.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data">
   {% csrf_token %}
   {% load embed_video_tags %}
   <input type="text" name="title" placeholder="Enter your movie name">
   <input type="text" name="description" placeholder="Enter movie description">
   <input type="date" name="release_date" placeholder="Enter movie release_date">
   <input type="text" name="genre" placeholder="Enter movie genre">
   <input type="text" name="actors" placeholder="Enter movie actors">
   <input type="file" name="movie_logo">
   <input type="url" name="youtube_link" placeholder="Movie trailer">
   <input type="submit">
</form>
{% endblock %}